name: Build and Test

on:
  push:
    branches: ['*']
  pull_request:
    branches: ['main', 'master']

permissions:
  contents: read
  packages: read

jobs:
  build-test-checksecurity:
    name: Build,lint,test and check security
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Restore build artifacts
        uses: actions/cache@v4
        with:
          path: bin/
          key: ${{ runner.os }}-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-

      - name: Install dependencies
        run: |
          go mod download

      - name: Build
        run: |
          VERSION="${{ github.ref_type == 'tag' && github.ref_name || '0.0.0' }}"
          VERSION="${VERSION#v*}"
          echo "Version $VERSION"
          make build
          touch cmd/isbuilt

      - name: Lint
        run: |
          make lint

      - name: Cache build artifacts
        uses: actions/cache@v4
        with:
          path: bin/
          key: ${{ runner.os }}-build-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-build-

      - name: Setup test environment
        run: |
          make test

      - name: Run tests
        run: |
          make test-coverage
          go tool cover -func=coverage.out

      - name: Upload coverage
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: coverage.out
          retention-days: 7

      - name: Run gosec
        run: |
          echo "Running gosec security scan"
          make gosec

      - name: Run govulncheck
        run: |
          echo "Running govulncheck vulnerability scan"
          make govulncheck
